.container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.search-field {
    margin-right: auto;
    /* Empujar el campo de búsqueda a la izquierda */
}

.spacer {
    flex-grow: 1;
    /* Utilizar todo el espacio disponible */
}

.button-container {
    margin-left: 1rem;
    /* Margen a la izquierda del botón */
}



